name: Integration Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Start API Server
        run: |
          flask --app app/api.py run --no-debugger --no-reload &
          sleep 5
      - name: start mongo
        run: |
           docker compose -f mongo.yml up -d
      - name: Run integration tests
        run: |
          pytest tests/integration
